body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
    font-weight: 100;
}

img {
    max-width: 100%;
}

main.offset-nav {
    margin-top: 60px;
}